body {
    background: url(img/FONDO_P.WEB_2.png) no-repeat center center fixed;
    background-size: cover;
    
    background-color: #1a1a1a;

    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: #ffffff;
}

main{
    flex: 1;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    
    padding: 10px;
    margin: 20px;
}

header{

    

    padding: 0px;
    margin: 10px;
}

nav ul{
   
    display: flex;
    justify-content: left;
    
}

nav ul li {
    color: #ffffff;

    font-size: 23px;
    font-family: 'Belgiano Serif', sans-serif;
                                                

    margin: 15px;
    font-weight: bold;
    
}

/*
nav ul li a {
    color: rgb(255, 0, 0);
    font-weight: bold;
    transition: color 0.3s ease;
}
*/

/*
#Bienvenido img{

    max-width: 100%;
    height: auto;
    
}
    */

footer{
    
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);

    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    padding: 5px;
    margin: 0px;

}

